[data-md-color-primary=indigo] {
    --md-primary-fg-color:  #FFACA6;
}
[data-md-color-accent=indigo] {
  --md-accent-fg-color: #FFACA6;
}
:root, [data-md-color-scheme=default] {
    --md-typeset-a-color: #526cfe;
}