[data-md-color-primary=indigo] {
    --md-primary-fg-color:  #FFACA6;
}
[data-md-color-accent=indigo] {
  --md-accent-fg-color: #FFACA6;
}
:root, [data-md-color-scheme=default] {
    --md-typeset-a-color: #526cfe;
}
/* 图片放大start */
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom {
  transition: transform ease-in-out 0.5s;
  cursor: zoom-in;
}

.image-zoom-large {
  transform: scale(1.9);
  cursor: zoom-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
  position: relative;
}
/* 图片放大end*/
