[data-md-color-primary="P"] {
  --md-primary-fg-color: #ffaca6;
  --md-primary-fg-color-light: #ffaca620;
  --md-primary-fg-color-middle: #ffaca6b0;
}
[data-md-color-accent="P"] {
  --md-accent-fg-color: #ffaca6;
}
[data-md-color-scheme="default"] {
  --md-typeset-a-color: #000000;
  --my-changlog-color: #efefef;
}
[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #ffffff;
  --my-changlog-color: #161616;
}
.md-grid {
  max-width: 1400px;
} /* make the page wider */
/* changelog config*/
.timeline-card {
  background-color: var(--my-changlog-color);
}
.timeline-content::before {
  background-color: var(--my-changlog-color);
}
.changelog-type {
  background-color: #cc9052;
}
.changelog-type-newpage {
  background-color: #ff9c80;
}
.changelog-type-refactor::before {
  content: "文档更新";
}

/*set the color for links*/
article a[href^="http"],
article a[href^="https://"]
{
  font-weight: 650;
}

/* 图片放大start */
/* .shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom {
  transition: transform ease-in-out 0.5s;
  cursor: zoom-in;
}

.image-zoom-large {
  transform: scale(1.9);
  cursor: zoom-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
  position: relative;
} */
/* 图片放大end */

/*图片格式设置*/
/*默认样式*/
img[src*="pic"] {
  box-shadow: 2px 2px 10px #666;
  border-radius: 4px;
  width: 90%;
  display: block;
  margin: 10px auto;
}

/* beat like a heart */
@keyframes heart {
  0%,
  40%,
  80%,
  100% {
    transform: scale(1);
  }
  20%,
  60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}

/* new admonitions */
:root {
  --md-admonition-icon--definition: url("../icons/define.svg");
}
.md-typeset .admonition.definition,
.md-typeset details.definition {
  border-color: rgb(43, 155, 70);
}
.md-typeset .definition > .admonition-title,
.md-typeset .definition > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .definition > .admonition-title::before,
.md-typeset .definition > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--definition);
  mask-image: var(--md-admonition-icon--definition);
}

:root {
  --md-admonition-icon--reference: url("../icons/reference.svg");
}
.md-typeset .admonition.reference,
.md-typeset details.reference {
  border-color: rgb(223, 251, 13);
}
.md-typeset .reference > .admonition-title,
.md-typeset .reference > summary {
  background-color: rgba(249, 249, 90, 0.1);
}
.md-typeset .reference > .admonition-title::before,
.md-typeset .reference > summary::before {
  background-color: rgb(223, 251, 13);
  -webkit-mask-image: var(--md-admonition-icon--reference);
  mask-image: var(--md-admonition-icon--reference);
}
/* new code highlight lines*/
span.hll {
  width: 165%;
}

.highlight .hll {
  box-shadow: 2px 0 0 0 var(--md-primary-fg-color) inset;
  background-color: var(--md-primary-fg-color-light);
}

/*see https://xuan-insr.github.io/%E6%9D%82%E9%A1%B9/%E5%8D%9A%E5%AE%A2%E6%90%AD%E5%BB%BA%E8%AE%B0%E5%BD%95/#%E8%A7%A3%E5%86%B3%E5%85%AC%E5%BC%8F%E5%B8%A6%E7%BA%B5%E5%90%91%E6%BB%9A%E5%8A%A8%E6%9D%A1%E7%9A%84%E9%97%AE%E9%A2%98*/
.md-typeset div.arithmatex {
  overflow-y: hidden;
}
